<!-- change password modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">change password</h4>
            </div>
            <div class="modal-body">
                <p>Enter an old password and choose a new password. Please enter only valid data.</p>
                <form>
                    <div class="form-group">
                        <label for="oldPassword">old password:</label>
                        <input type="password" class="form-control" id="oldPassword" placeholder="insert old password (6-15 english letters an numbers)">
                        <span id="oldPasswordError" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">new password:</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="insert new password (6-15 english letters an numbers)">
                        <span id="newPasswordError" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="retypeNewPassword">retype new password:</label>
                        <input type="password" class="form-control" id="retypeNewPassword" placeholder="retype new password (6-15 english letters an numbers)">
                        <span id="retypeNewPasswordError" class="help-block"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="changePasswordClose" data-dismiss="modal">close</button>
                <button id="changePassword" type="button" class="btn btn-primary">change</button>
                <p class="createError"></p>
                <p class="createSuccess"></p>
            </div>
        </div>
    </div>
</div>