<!-- filtering tasks options -->
<div class="filtering">
    <h4>filtering options:</h4>
    <form class="form-inline">
        <label>status:
            <select class="form-control" id="statusFilter">
                <option>all</option>
                <option>waiting</option>
                <option>in process</option>
                <option>done</option>
            </select>
        </label>
        <label>priority:
            <select class="form-control" id="priorityFilter">
                <option>all</option>
                <option>high</option>
                <option>medium</option>
                <option>low</option>
            </select>
        </label>
        <button type="submit" class="btn btn-default" id="filter-btn">filter</button>
    </form>
</div>