<!-- sidebar -->
<div id="sidebar-wrapper">
    <div class="sidebar-scroll">
        <div class="profile">
            <img id="profile-icon" src="../client/images/profile-icon.png" alt="profile-pic">
            <p><%= username %></p>
        </div>
        <ul class="sidebar-nav">
            <hr>
            <li><a href="#" data-toggle="modal" data-target="#changePasswordModal">change<br />password</a></li>
            <hr>
            <li><a href="#" data-toggle="modal" data-target="#clearAllTasksModal">clear<br />all tasks</a></li>
            <hr>
            <li><a href="/user/logout">logout</a></li>
            <hr>
        </ul>
    </div>
</div>