*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none !important;
}
body{
    background: #ececec;
}
.container{
    border: 1px solid rgba(0,0,0,0.05);
}
.instructions{
    display: inline-block;
    padding: 15px;
    background-color: #f6f6f5;
    border-radius: 5px;
    text-align: center;
}
.instructions a{
    margin-left: 7px;
}
.createError, .createSuccess, .editError, .editSuccess{
    text-align: center;
    margin: 5px;
}

.createError, .editError{
    color: red;
}
.createSuccess, .editSuccess{
    color: green;
}