.query{
    text-align: center;
}
.tasks-status{
    text-align: center;
    margin: 16px;
}
.status-wrapper{
    background-color: #fcfcf7;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding-bottom: 10px;
}
.status-box{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-weight: bolder;
    transition: border;
}
.status-box:hover{
    border: 1px solid rgba(0,0,0,0.5);
}
.status-wrapper h4{
    text-decoration: underline;
}
#status-waiting{
    background-color: #d65139;
}
#status-in-process{
    background-color: #d6c837;
}
#status-done{
    background-color: #347a25;
}
#priority-low{
    background-color: #2129ce;
}
#priority-medium{
    background-color: #15ba12;
}
#priority-high{
    background-color: #dd3030;
}
@media (max-width: 1000px) {
    .query{
        text-align: left;
    }
}